body {
  background: #ffe6f0;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  color: #b30059;
}

.contenedor {
  margin-top: 50px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#contador {
  font-size: 1.5rem;
  margin-top: 20px;
}

canvas {
  border: none;
  background: transparent;
}
