body {
    margin: 0;
    background: linear-gradient(to bottom, #ffe6f0, #ffb3d9);
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    color: #b30059;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
}

canvas {
    margin-top: 20px;
    border: 2px solid #b30059;
    border-radius: 10px;
    background: #fff0f5;
}

#contador {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
